langchain==0.3.26              # LangChain core
flask==3.1.1                   # Web server
sentence-transformers==4.1.0   # HuggingFace, open source
pypdf==5.6.1                   # PDF reader
python-dotenv==1.1.0           # .env support
langchain-pinecone==0.2.8      # Pinecone DB
langchain-openai==0.3.24       # OpenAI API
langchain-community==0.3.26    # Community modules
-e .                           # Local project
